<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row mb-5">
                <div class="col">
                    <h2>All products</h2>
                </div>
                <div>
                    <button class="btn btn-primary"><a href="javascript:void(0);" routerLink="/add-product"
                            style="color:#fff;">Add product</a></button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4" *ngFor="let data of products">
            <div class="card" style="width: 18rem;">
                <img [src]="data.image" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"><a href="javascript:void(0)" routerLink="all-product/{{data.id}}">{{data.title}}</a></h5>
                    <p class="card-text">{{data.description}}</p>
                    <p>Price : {{data.price}}</p>
                    <div>
                        <a href="javascript:void(0)" class="btn btn-danger" routerLink="update-product/{{data.id}}">Edit</a>
                        <a href="#" class="btn btn-primary">Delete</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>